<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>테스트</title>
    </head>
    <body>
        Metadata 생성 테스트
        <form action="/" method="post">
            <p>
                <input type="text", name="tkidx", placeholder="tkidx">
            </p>
            <p>
                <input type="text", name="name", placeholder="name">
            </p>
            <p>
                <input type="text", name="description", placeholder="description">
            </p>
            <p>
                <input type="text", name="img", placeholder="img">
            </p>
            <p>
                <input type="text", name="aniUrl", placeholder="aniUrl">
            </p>
            <p>
                <input type="text", name="creator", placeholder="creator">
            </p>
            <p>
                <input type="text", name="productType", placeholder="productType">
            </p>
            <p>
                <input type="submit">
            </p>
        </form>
    </body>
</html>
